@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply tracking-wide;
    }
    html,
    html body {
        -webkit-overflow-scrolling: touch;
        @apply min-h-full;
        @apply h-full;
    }
    html.dark,
    html.dark body {
        -webkit-overflow-scrolling: touch;
        @apply bg-dark-950;
    }
    h1 {
        @apply text-5xl;
        @apply font-bold;
        @apply mb-8;
    }
    h2 {
        @apply text-3xl;
        @apply font-bold;
        @apply mb-6;
    }
    h3 {
        @apply text-xl;
        @apply font-bold;
        @apply mb-4;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-transition-delay: 9999s;
        transition-delay: 9999s;
    }
    .overflow-scroll-hide::-webkit-scrollbar {
        display: none;
    }
    .overflow-scroll-hide {
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
    .bg-dots {
        background:
            linear-gradient(90deg, #fff 15px, transparent 1%) 50%,
            linear-gradient(#fff 15px, transparent 1%) 50%,
            rgba(0, 0, 0, 0.24);
        background-size: 16px 16px;
    }
    .dark .bg-dots {
        background:
            linear-gradient(90deg, #090b0f 15px, transparent 1%) 50%,
            linear-gradient(#090b0f 15px, #787878 1%) 50%,
            rgba(0, 0, 0, 0.24);
        background-size: 16px 16px;
    }
}
